@import "/src/scss/variables";

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  button {
    all: unset;
    background-color: #03c04a;
    height: 2vw;
    width: 10vw;
    border-radius: 50px;
    color: black;
    text-align: center;
    z-index: 4;
    font-family: $bold;
    cursor: pointer;
    &:hover {
      background-color: #01a741;
      border: none;
    }
  }
  #input-container {
    z-index: 99;
    margin-top: 0.2vw;
    input {
      all: unset;
      background-color: white;
      border-radius: 10px;
      padding-left: 3px;
      font-family: $bold;
      border: 3px solid #6e716f;
      width: 9.5vw;
      &:hover,
      &:focus {
        border: 3px solid #03c04a;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
}
// skjuler input
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #03c04a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #03c04a;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
