@import "/src/scss/variables";

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  button {
    all: unset;
    background-color: #03c04a;
    height: 2vw;
    width: 10vw;
    border-radius: 50px;
    color: black;
    text-align: center;
    z-index: 4;
    font-family: $bold;
    cursor: pointer;
    &:hover {
      background-color: #01a741;
      border: none;
    }
  }
  #input-container {
    z-index: 99;
    margin-top: 0.2vw;
    input {
      all: unset;
      background-color: white;
      border-radius: 10px;
      padding-left: 3px;
      font-family: $bold;
      border: 3px solid #6e716f;
      width: 9.5vw;
      &:hover,
      &:focus {
        border: 3px solid #03c04a;
      }
    }
  }
}
