@import "./variables.scss";

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

html {
  height: 100%;
  font-size: 15px;
}
body {
  background: linear-gradient(180deg, rgb(64, 181, 73) 0%, rgba(122, 194, 85, 1) 70%, rgba(217, 235, 199, 1) 100%);
  overflow: hidden;
  .grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .svg-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;

      #baggrund {
        width: 30vw;
        height: 100%;
        z-index: 1;
      }
      #aabnet {
        width: 14vw;
        height: 12vh;
        position: absolute;
        top: 26vw;
        left: 18vw;
        z-index: 2;
        @include for-giant-screen {
          top: 26.5vw;
        }
      }
      #oplader {
        width: 11vw;
        height: 45vh;
        position: absolute;
        top: 30.4vw;
        left: 19.5vw;
        z-index: 1;
        @include for-giant-screen {
          top: 31.4vw;
        }
      }
      #opladerIndgang {
        width: 11vw;
        position: absolute;
        height: 16vh;
        top: 29.5vw;
        left: 19.5vw;
        z-index: 1;
        @include for-giant-screen {
          top: 30vw;
        }
      }
    }
  }
}

.hide {
  display: none;
}
